.container{
    background: rgb(86,86,86, 0.2);
    border: 5px solid rgb(96, 96, 96);
    border-radius: 10px;
    margin: 30px auto;
    padding: 10px;
}

.react-plotly-component {
    width: 100%;
    height: 500px; /* Adjust height as needed */
}